.event-full {
  &__title {
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
      max-width: 80%;
    }

    @include media-breakpoint-between(md, xl) {
      margin-bottom: 45px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 38px;
    }
  }

  &__blog {
    display: flex;
    border: 1px solid var(--color-border);
    background: var(--color-bg-0);

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__info {
    flex: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      min-width: 400px;
      max-height: 400px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-between(sm, lg) {
      width: 400px;
      height: 400px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 400px;
      max-height: 400px;
      margin-bottom: 25px;
    }

    img {
      object-fit: cover;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-light-black);

    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 28px;
    }
  }

  &__date-icon {
    width: 17px;
    height: 17px;
  }

  &__date-text {
    font-size: 18px;
    line-height: 12.6px;
    color: inherit;
  }

  &__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__tag {
    padding: 7px 16px;
    background: var(--color-bg, #f7f7f4);
    font-style: italic;
    font-size: 15px;
    line-height: 22.5px;
  }

  &__description {
    @include media-breakpoint-up(sm) {
      padding: 41px 57px 51px 65px;
    }

    @include media-breakpoint-down(sm) {
      padding: 38px 20px 30px;
    }
  }

  &__description-inner {
    overflow: hidden;
    transition: 1s;
  }

  &__description-text {
    font-size: 17px;
    line-height: 25.5px;
    color: var(--color-text-700, #333333);

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &__description-shadow {
    position: relative;
    z-index: 2;
    bottom: 10px;
    box-shadow: 0 0px 30px 20px #ffffff;
    background: var(--color-bg-0, #ffffff);

    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__description-btn {
    display: block;
    border: none;
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px dashed var(--color-orange, #ff711f);
    border-width: 2px;
    background: transparent;
    color: var(--color-orange, #ff711f);
  }

  &__description-btn-text {
    font-size: 17px;
    line-height: 25.5px;
    color: inherit;
  }
}

.event-map {
  &__container {
    display: flex;
    max-width: 1090px;

    background: var(--color-bg-0);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  &__map {
    width: 100%;
    background: green;

    @include media-breakpoint-up(md) {
      max-width: 600px;
      height: 450px;
    }

    @include media-breakpoint-down(md) {
      height: 281px;
    }
  }

  &__content {
    flex: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 25px;
    color: var(--color-text-black);
  }

  &__description :not(:last-child) {
    margin-bottom: 20px;
  }

  &__description-title {
    font-weight: 400;
    color: inherit;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 35.16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
      line-height: 28.13px;
    }
  }

  &__description-text {
    font-size: 17px;
    line-height: 19.92px;
    color: inherit;
  }
}

.event-banner {
  padding-top: 40px;
  padding-bottom: 90px;

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__container {
    max-width: 1090px;
    height: 200px;
  }
}
