.search-events {
  .search-events__map-link {
    display: flex;
    justify-content: end;
    gap: 7px;
    color: var(--color-orange, #ff711f);
    margin-bottom: 50px;
  }

  .search-events__map-svg {
    width: 24px;
    height: 21px;
  }

  .search-events__map-text {
    font-size: 18px;
    line-height: 21.09px;
    color: inherit;
  }

  .search-events__content {
    display: flex;
    gap: 40px;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
    }
  }

  .search-events__filter {
    flex: 1 0 auto;
    width: 25%;
    height: 100%;
  }

  .search-events__cards {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      gap: 40px;
    }

    @include media-breakpoint-down(md) {
      gap: 20px;
    }
  }
}
