:root {
  --color-black: #000000;
  --color-light-black: #100e0e;
  --color-orange: #ff711f;

  --color-border: #e0e0de;

  --color-text-900: #ffffff;
  --color-btn: #ff711f;

  --color-bg-100: #f5f5f5;
  --color-bg: #f7f7f4;
  --color-bg-50: #e0e0de;
  --color-bg-0: #ffffff;
  --color-bg-700: #4d4d4d;

  --color-svg-primary: var(--color-light-black);
  --color-svg-secondary: var(--color-orange);

  --border-radius: 5px;

  --typography-htmlFontSize: 16px;
  --typography-fontFamily: Roboto, sans-serif;
  --typography-fontWeightLight: 300;
  --typography-fontWeightMedium: 500;
  --typography-fontWeightBold: 700;

  --filters-blur: 10px;
  --filters-opacity: 0.5;

  --spacing-container: 24px;
}

.svg-secondary {
  color: var(--color-svg-secondary);
}
