:root {
  --color-black: #000000;
  --color-light-black: #100e0e;
  --color-orange: #ff711f;

  --color-text-black: #000000;
  --color-text-black-5: #00000080;
  --color-text-primary: #100e0e;
  --color-text-primary-25: #100e0e40;
  --color-text-secondary: #ff711f;
  --color-text-3: #100e0e4d;
  --color-text-900: #ffffff;
  --color-text-700: #333333;

  --color-btn: #ff711f;

  --color-bg-100: #f5f5f5;
  --color-bg: #f7f7f4;
  --color-bg-50: #e0e0de;
  --color-bg-0: #ffffff;
  --color-bg-700: #4d4d4d;

  --color-border: #100e0e1a;
  --color-border-secondary: #100e0e40;

  --color-gray: #dbdbdb;

  --icon-primary-color: #100e0e;
  --icon-secondary-color: #ff711f;
  --icon-third-color: #100e0e40;

  --typography-htmlFontSize: 16px;
  --typography-fontFamily: Roboto, sans-serif;
  // --typography-fontWeightLight: 300;
  // --typography-fontWeightMedium: 500;
  // --typography-fontWeightBold: 700;

  // --filters-blur: 10px;
  // --filters-opacity: 0.5;

  // --spacing-container: 24px;
}

// section {
//   margin-top: var(--margin-top, 0);
//   margin-bottom: var(--margin-bottom, 0);
// }

// @include media-breakpoint-down(sm) {
//   section {
//     --margin-top: var(--margin-top-mobile, 0);
//     --margin-bottom: var(--margin-bottom-mobile, 0);
//   }
// }
