.banner {
  max-width: 100%;
  background: var(--color-bg-0, #ffffff);
  margin: 0 auto;
  height: 200px;

  .banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
  .banner__content {
    font-weight: 500;
    font-size: 28px;
    line-height: 32.81px;
    color: var(--color-black);
    opacity: 50%;
  }
}
