.custom-btn {
  font-family: Roboto, sans-serif;
  display: block;
  width: 242px;
  height: 64px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff711f;
  border: none;
  padding: 0;
}
