.x-icon {
  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:not(&--red) {
    color: var(--palette-text-primary);

    &::before,
    &::after {
      border: 1px solid var(--palette-text-primary);
      background-color: var(--palette-text-primary);
    }
  }

  &--red {
    color: var(--palette-error-main);

    &::before,
    &::after {
      border: 1px solid var(--palette-error-main);
      background-color: var(--palette-error-main);
    }
  }
}

.dash-icon {
  &::before {
    position: absolute;
    content: "";
    border: 1px solid var(--palette-secondary-main);
  }
}

.plus-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border: 1px solid var(--palette-secondary-main);
    border-radius: var(--border-radius);

    @include media-breakpoint-down(lg) {
      width: 9px;
    }

    @include media-breakpoint-between(lg, xl) {
      width: 13px;
    }

    @include media-breakpoint-up(xl) {
      width: 15px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.circle-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    top: 50%;
    height: 0;
    content: "";
    transform: translateY(-50%);
    border-style: solid;
    border-radius: 50%;
    box-sizing: content-box;
  }

  &:not(&--hover)::before {
    width: 48%;
    padding-top: 48%;
    border-width: 1px;
  }

  &--hover::before {
    width: 0;
    padding-top: 0;
    transition: 0.3s ease-in-out;
    border-width: 0;
    border-color: transparent;
  }

  html:not([dir="rtl"]) &--left:not(&--hover),
  html[dir="rtl"] &--right:not(&--hover) {
    padding-left: 24%;

    &::before {
      left: 0;
    }
  }

  html:not([dir="rtl"]) &--right:not(&--hover),
  html[dir="rtl"] &--left:not(&--hover) {
    padding-right: 24%;

    &::before {
      right: 0;
    }
  }

  @media (hover: hover) {
    html:not([dir="rtl"]) &--left:is(&--hover),
    html[dir="rtl"] &--right:is(&--hover) {
      padding-left: 24%;

      &::before {
        left: 24%;
      }
    }

    html:not([dir="rtl"]) &--right:is(&--hover),
    html[dir="rtl"] &--left:is(&--hover) {
      padding-right: 24%;

      &::before {
        right: 24%;
      }
    }
  }

  @media (hover: hover) {
    *:hover > & {
      &::before {
        width: 48%;
        padding-top: 48%;
        border-width: 1px;
      }

      html:not([dir="rtl"]) &--left,
      html[dir="rtl"] &--right {
        padding-left: 24%;

        &::before {
          left: 0;
        }
      }

      html:not([dir="rtl"]) &--right,
      html[dir="rtl"] &--left {
        padding-right: 24%;

        &::before {
          right: 0;
        }
      }

      &:not(&--primary):not(&--primary-text) {
        &::before {
          border-color: var(--palette-text-primary);
        }
      }

      &--primary {
        &::before {
          border-color: var(--palette-primary-main);
        }
      }

      &--primary-text {
        &::before {
          border-color: var(--palette-primary-text);
        }
      }
    }
  }

  &:not(&--primary):not(&--primary-text):not(&--hover)::before {
    border-color: var(--palette-text-primary);
  }

  &--primary:not(&--hover)::before {
    border-color: var(--palette-primary-main);
  }

  &--primary-text:not(&--hover)::before {
    border-color: var(--palette-primary-text);
  }
}

.arrow-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  html:not([dir="rtl"]) &--left,
  html[dir="rtl"] &--right {
    &::before {
      left: 0;
      transform: translate(15%, -50%) rotate(-45deg);
    }
  }

  html:not([dir="rtl"]) &--right,
  html[dir="rtl"] &--left {
    &::before {
      right: 0;
      transform: translate(-15%, -50%) rotate(135deg);
    }
  }

  &::before {
    position: absolute;
    top: 50%;
    box-sizing: content-box;
    height: 0;
    content: "";
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;

    @include media-breakpoint-down(md) {
      width: 16%;
      padding-top: 16%;
    }

    @include media-breakpoint-between(md, xxl) {
      width: 10%;
      padding-top: 10%;
    }

    @include media-breakpoint-up(xxl) {
      width: 12%;
      padding-top: 12%;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transform: translateY(-50%);
  }

  &:not(&--primary):not(&--primary-text) {
    &::before {
      border-top-color: var(--palette-text-primary);
      border-left-color: var(--palette-text-primary);
    }

    &::after {
      background-color: var(--palette-text-primary);
    }
  }

  &--primary {
    &::before {
      border-top-color: var(--palette-primary-main);
      border-left-color: var(--palette-primary-main);
    }

    &::after {
      background-color: var(--palette-primary-main);
    }
  }

  &--primary-text {
    &::before {
      border-top-color: var(--palette-primary-text);
      border-left-color: var(--palette-primary-text);
    }

    &::after {
      background-color: var(--palette-primary-text);
    }
  }

  &--secondary {
    &::before {
      border-top-color: var(--palette-secondary-main);
      border-left-color: var(--palette-secondary-main);
    }

    &::after {
      background-color: var(--palette-secondary-main);
    }
  }
}
