.nav-list {
  display: flex;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadows-2);

  @include media-breakpoint-down(lg) {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__link {
    display: inline-block;

    @include media-breakpoint-down(lg) {
      font-size: pxToRem(12px);
      line-height: pxToRem(14px);
      padding: 10px 20px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: pxToRem(16px);
      line-height: pxToRem(18px);
      padding: 15px 30px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: pxToRem(18px);
      line-height: pxToRem(20px);
      padding: 20px 40px;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--palette-secondary-main);
      }
    }

    &:not(:hover):not(.active) {
      color: var(--palette-text-secondary);
    }

    &.active {
      font-weight: var(--typography-fontWeightBold);
      color: var(--palette-secondary-main);
      border-radius: var(--border-radius);
      background-color: var(--palette-background-paper);
    }

    &:is(a) {
      text-decoration: none;
    }

    &:is(button) {
      border: 0;

      &:not(.active) {
        background-color: transparent;
      }
    }
  }
}
