.text-box {
  box-sizing: border-box;
  resize: none;
  border: 1px solid var(--palette-primary-main);
  border-radius: var(--border-radius);
  background-color: var(--palette-background-default);

  @include media-breakpoint-down(md) {
    font-size: pxToRem(12px);
    line-height: 13px;
    padding: 14px;
  }

  @include media-breakpoint-between(md, lg) {
    padding: 12px;
  }

  @include media-breakpoint-up(lg) {
    padding: 20px;
  }
}
