.section-title {
  font-weight: 400;
  font-size: clamp(26px, 5vw, 42px);
  line-height: 49.22px;
  color: #100e0e;

  &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: var(--typography-fontFamily-headings);
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
