.section-title {
  font-weight: 400;
  font-size: clamp(26px, 5vw, 42px);
  line-height: 49.22px;
  color: #100e0e;

  @include media-breakpoint-up(xl) {
    font-size: 42px;
  }

  @include media-breakpoint-between(sd, xl) {
    font-size: 34px;
  }

  @include media-breakpoint-between(sm, md) {
    font-size: 34px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}
