<%
var htmlTop = { title: "ArtTube" };
%>

<%=_.template(require('./../includes/_html-top.html').default)(htmlTop)%>
<%=_.template(require('./../includes/header.html').default)()%>

<main>
  <%=_.template(require('./../includes/hero.html').default)()%>
  <%=_.template(require('./../includes/banner.html').default)()%>
  <%=_.template(require('./../includes/events.html').default)()%>
  <%=_.template(require('./../includes/blog.html').default)()%>
  <%=_.template(require('./../includes/gallery.html').default)()%>
  <%=_.template(require('./../includes/join.html').default)()%>
  <%=_.template(require('./../includes/search-events.html').default)()%>
</main>

<%=_.template(require('./../includes/footer.html').default)()%>
<%=_.template(require('./../includes/_html-bottom.html').default)()%>
