.contacts---form {
  display: grid;
  border-radius: var(--border-radius);
  background-color: var(--palette-secondary-light);
  box-shadow: var(--shadows-3);

  @include media-breakpoint-down(lg) {
    padding: 10px;
    row-gap: 10px;
  }

  @include media-breakpoint-up(lg) {
    padding: 20px;
    row-gap: 20px;
  }

  @include media-breakpoint-up(md) {
    max-width: 465px;
  }

  @include media-breakpoint-between(md, lg) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &__title {
    margin-top: 0;
    color: var(--palette-background-default);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      font-size: pxToRem(18px);
      line-height: pxToRem(20px);
      margin-bottom: 10px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: pxToRem(20px);
      line-height: pxToRem(22px);
    }

    @include media-breakpoint-up(xxl) {
      font-size: pxToRem(24px);
      line-height: pxToRem(27px);
    }
  }

  &__field-group {
    @include media-breakpoint-down(lg) {
      display: contents;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      column-gap: 20px;
    }
  }

  &__textarea {
    resize: none;

    @include media-breakpoint-down(lg) {
      min-height: 100px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 145px;
    }
  }
}
