.parallax-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(xxl) {
    min-height: 568px;
  }

  @include media-breakpoint-up(xxl) {
    min-height: 900px;
  }

  &__bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    text-align: justify;
    color: var(--palette-background-default);
    border-radius: var(--border-radius);
    backdrop-filter: blur(var(--filters-blur));
    -webkit-backdrop-filter: blur(var(--filters-blur));

    @include media-breakpoint-down(md) {
      max-width: 272px;
      padding: 40px;
    }

    @include media-breakpoint-between(md, xxl) {
      max-width: 712px;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 883px;
    }

    @include media-breakpoint-up(md) {
      padding: 100px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      opacity: var(--filters-opacity);
      background-color: var(--palette-secondary-main);
    }
  }

  &__text {
    @include media-breakpoint-down(md) {
      font-size: pxToRem(12px);
      line-height: pxToRem(12px);
    }

    @include media-breakpoint-between(md, xxl) {
      font-size: pxToRem(18px);
      line-height: pxToRem(28px);
    }

    @include media-breakpoint-up(xxl) {
      font-size: pxToRem(24px);
      line-height: pxToRem(34px);
    }
  }
}
