.tagline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;

  @include media-breakpoint-down(lg) {
    min-height: 173px;
  }

  @include media-breakpoint-between(lg, xxl) {
    min-height: 220px;
  }

  @include media-breakpoint-up(xxl) {
    min-height: 380px;
  }

  &__bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-family: var(--typography-fontFamily-headings);
    font-weight: var(--typography-fontWeightBold);
    text-align: center;
    color: var(--palette-background-default);

    @include media-breakpoint-down(md) {
      font-size: pxToRem(24px);
      line-height: pxToRem(26px);
    }

    @include media-breakpoint-between(md, xl) {
      font-size: pxToRem(30px);
      line-height: pxToRem(32px);
    }

    @include media-breakpoint-up(xl) {
      font-size: pxToRem(40px);
      line-height: pxToRem(48px);
    }
  }
}
