.text-image {
  @include media-breakpoint-down(xxl) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(xxl) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @include media-breakpoint-down(lg) {
      display: grid;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      column-gap: 40px;
    }

    &--reverse {
      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    @include media-breakpoint-down(lg) {
      display: contents;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include media-breakpoint-down(lg) {
      font-size: pxToRem(24px);
      line-height: pxToRem(29px);
      order: -3;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: pxToRem(20px);
      line-height: pxToRem(24px);
    }

    @include media-breakpoint-up(xxl) {
      font-size: pxToRem(40px);
      line-height: pxToRem(49px);
    }
  }

  &__text-wrapper {
    @include media-breakpoint-down(lg) {
      display: contents;
    }

    @include media-breakpoint-down(md) {
      font-size: pxToRem(12px);
      line-height: pxToRem(20px);
    }

    @include media-breakpoint-between(md, xxl) {
      font-size: pxToRem(14px);
      line-height: pxToRem(24px);
    }

    @include media-breakpoint-up(xxl) {
      font-size: pxToRem(24px);
      line-height: pxToRem(40px);
    }

    p {
      text-align: justify;

      &:first-child {
        @include media-breakpoint-down(lg) {
          order: -2;
          margin-bottom: 0;
        }
      }

      &:not(:last-child) {
        @include media-breakpoint-between(lg, xxl) {
          margin-bottom: 10px;
        }

        @include media-breakpoint-up(xxl) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    flex-basis: 50%;

    @include media-breakpoint-down(lg) {
      order: -1;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 36px;
      padding-bottom: 36px;
    }

    @include media-breakpoint-between(md, lg) {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-between(lg, xxl) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 50%;
      height: 100%;
      content: "";
      background-color: var(--palette-primary-light);
    }

    &:not(&--reverse) {
      justify-content: flex-end;
    }

    &--reverse {
      justify-content: flex-start;
    }
  }

  &__image-inner {
    position: relative;
    width: 100%;
    padding-top: 75%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
